
#game-hud {
  width: 600px;
  margin: 10px auto;
  padding: 20px;

  .level-stats {
    font-family: $hud-font;
    font-size: 2em;
    display: inline;

    .smaller {
      font-size: 0.7em;
    }

    div {

      padding: 0 10px 0 10px;
      display: inline;

      .value {
        font-weight: bold;
      }
    }
  }

  .buttons {

    display: inline;
    font-size: 1.5em;

    a {
      padding: 5px;
      cursor: pointer;
      transition: 0.5s all;

      &:hover {
        text-shadow: 10px 10px 50px rgb(29, 74, 113);
        color: lighten(rgb(29, 74, 113), 20%);
      }
    }

  }
}
