
#game-hud {
  width: 300px;
  float: left;
  padding: 0 20px;

  .level-stats {
    font-family: $hud-font;
    font-size: 2em;
    text-align: center;

    .author {
      word-break: break-all;
      font-size: 0.6em;
    }

    span {
      margin: 0 10px;

      &:first-child {
        margin: 0;
        margin-right: 10px;
      }
    }

    .smaller {
      font-size: 0.7em;
    }

    div {
      padding: 15px 20px 10px 20px;
      margin: 0 0 10px 0;

      &.level-number {
        padding: 0;
      }

      .value {
        font-weight: bold;
      }
    }

    .moves {
      border-radius: 6px;

      &.warning {
        background-color: rgba(255, 236, 7, 0.6);
      }

      &.danger {
        background-color: rgba(255,0,0,0.4);
      }
    }
  }

  .buttons {
    font-size: 1.5em;
    text-align: center;
    padding: 20px;
    border: 4px solid #326998;
    border-left: none;
    border-right: none;
    margin-bottom: 15px;

    a {
      padding: 15px;
      cursor: pointer;
      transition: 0.5s all;

      &:hover {
        text-shadow: 10px 10px 50px rgb(29, 74, 113);
        color: lighten(rgb(29, 74, 113), 20%);
      }
    }

  }
}
