
.icon-help-circled:before { content: '\e800'; } /* '' */
.icon-cw:before { content: '\e801'; } /* '' */
.icon-shuffle:before { content: '\e802'; } /* '' */
.icon-volume-off:before { content: '\e803'; } /* '' */
.icon-volume:before { content: '\e804'; } /* '' */